.x{
	height: 56px;
}
.carousel-inner{
	/*background-image: url();*/
	height: 750px;
	width: 100%;
	background-size: cover;
	/*padding-top: 100px;*/
}
ul {
  list-style-type: none;
}
.box{
	width: 100%;
	height: 400px;
	background-color: #003366;
	display: flex;
	justify-content: space-between;
}
.box1{	
	width:  50%;
	height: 150px;
	background-color: #cc6600;
	padding-top: 15px;
}
.box2{
	width:  50%;
	height: 150px;
	padding-left: 450px;
	padding-top: 15px;
	background-color: #cc6600;
	/*margin-left: -5px;*/																						`
}
.sidenav {
  margin-top: 300px;
  width: 80px;
  position: fixed;
  z-index: 10;
  top: 20px;
  background: #e68a00;
  overflow-x: hidden;
  padding: 8px 0;

}
i{
	margin-right: 25px;
}

.sidenav i {
  color: #0066cc;
  font-size: 30px;
  margin: 20px;
  transition: all 0.5s linear;

}
.sidenav i:hover {
  color: #003300;
  font-size: 50px;
}
.container{
	width: 100%;
	height: 100px;
	background-color: red;
}
.col-3 i{
	font-size: 50px;
	margin-left: 150px;
	margin-top: 15px;
	margin-bottom: 15px;
}